{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}
    <h2>
        Search!
    </h2>

    <form method="get" action="{% url "movies:search" %}">
        {{form.as_p}}
        <button>Search</button>
    </form>
    <h3>Result Of {{kr_name}}</h3>

    {% for movie in nv_result %}
        <a href="{%  url  "movies:detail" movie.nv_code %}">
            <img src="{{movie.img_link}}" width="80" height="106" >
            <h3>
                {{movie.movie_name}}
            </h3>
            <h3>{{movie.movie_infos}}</h3>
        </a>
    {% endfor %}
    
{% endblock  %}